<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        
        <div class="bd">
            <h1>Help</h1>
            <h4>get help</h4>
        </div>
        
        <%- include('../partials/footer.ejs') %>
        
    </body>
</html>