<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        
        <div class="index_bd">
            <h1>Help</h1>
            <p>
                This websites provide a couple of weather information about a 
                specified location(city) ,and we are countinuing make more effort 
                to fetch all the geographical details users need.
                
                For more information email us on moiseniyonkuru1@gmail.com
            </p>
        </div>
        
        <%- include('../partials/footer.ejs') %>
        
    </body>
</html>