<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="shortcut icon" type="image/png" href="../icon/weather.png">
    </head>
    <body>
            <%- include('../partials/header.ejs') %>
        
        <div class="home-bd">
            <h1>Welcome to weather application</h1>
            <h2>Use this website to get your weather</h2>
            <form>
               <input name="address" placeholder="Location eg:london">
               <input class="fetch-btn" type="submit" > 
            </form>
            <div>
                <p id="msg-1"></p>
                <p id="msg-2"></p>
            </div>
        </div>
        
        <%- include('../partials/footer.ejs') %>
        <script src="../js/script.js"></script>
    </body>
</html>