<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <h1>Welcome to weather application (Location :{{location}})</h1>
        <h1>Create by {{name}}</h1>
        <img src="../hck.jpg">
    </body>
</html>